@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&family=Spartan:wght@900&display=swap');

html, body{margin: 0px 0px 0px 0px;}

header{
    background-color: #B6DFE8;
    color: black;
    font-family: 'Spartan', sans-serif;
    font-size: 20px;
    height: 100px;
    width: 100%;
    position: fixed;
    z-index: 10;
}

#menu{
    float: right;
    margin-right: 5%;
    list-style: none;
    margin-top: 20px;
}

a:link, :visited{
    text-decoration:none;
    color:black;
}

.linha::after{
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: black;
    color: black;
    transition: .3s;
}

.linha:hover::after{
    width: 100%;
    transition: .3s;
    background: black;
    color: black;
}

li{
    float: left;
    padding: 20;
}

#logo{
    width: 80px;
    position: absolute;
    top: 10px;
    margin-left: 5%;
}

.tituloprincipal{
    padding-top: 120px;
    padding-bottom: 10px;
    background-color: #A8D8A5;
    font-family: 'Spartan', sans-serif;
    font-size: 40px;
    text-align: center;
    color: black;
}

.subtitulo{
    font-family: 'Spartan', sans-serif;
    font-size: 35px;
    text-align: center;
}

.subtitulo2{
    font-family: 'Source Sans Pro', sans-serif;;
    font-size: 35px;
    text-align: center;
    line-height: 75px;
}

.texto{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 30px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 30px;
    line-height: 50px;
}

.publicacao{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-align: center;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 10px;
    line-height: 50px;
}
.subtituloartigo{
    font-family: 'Spartan', sans-serif;
    font-size: 35px;
    text-align: center;
}

.textartigo{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    text-indent: 4em;
    text-align: justify;
    padding-left: 10%;
    padding-right: 10%;
    line-height: 50px;
}

.destaque{
    font-weight: bold;
}

#separador{
    background-color: black;
    margin-top: 50px;
    margin-bottom: 50px;
}

.icon{
    width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 80px;
} 

.iconart{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    border: #A8D8A5 solid 3px;
    border-radius: 40%;
    
} 

.efeito {
    overflow: hidden;
}

.efeito img{
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.efeito:hover img{
    -moz-transform: scale(2.2);
    transform: scale(1.1);
}

.texto2{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    text-align: justify;
    padding-bottom: 10px;
}

.textfooter{
    font-size: 15px;
}

.titulo{
    font-family: 'Spartan', sans-serif;
    font-size: 44px;
}

.titfooter{
    font-size: 20px;
}

.footercoluna{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 50%;
}

.footercoluna2{
    float: left;
    padding: 0 5%;
    position: relative;
    width: 30%;
}

.acaofooter{
    background-color: white;
    color: black;
    font-family: 'Spartan', sans-serif;
    font-size: 10px;
    border-radius: 10px;
    padding: 7px 7px 7px 7px;
    z-index: 10;
}

.redessociais{
    padding: 5px;
    height: 45px;
}

footer{ 
    background-color: #A8D8A5;
    float: left;
    width: 100%;
    height: 210px;
}

@media all and (max-width: 768px) {
    #menu{
        visibility: hidden;
    }
    .coluna, .footercoluna, .footercoluna2{
        display:block;
        width: 80%;
        padding: 0;
        margin: 10px auto;
        float: none;
    }

    #logodiv{
        width: 100%;
        position: relative;
        text-align: center;
    }

    #logo{
        margin-left: 0;
        transform: translateX(-50%);
    }

}

@media all and (max-width: 1200px) {
    footer{ 
        background-color: #A8D8A5;
        float: left;
        width: 100%;
        height: 250px;
    }
}

@media all and (max-width: 770px) {
    footer{ 
        background-color: #A8D8A5;
        float: left;
        width: 100%;
        height: 450px;
    }
}
